config-path
markdown
markdown_strings
-e /home/paul/np/os/python/textual/
-e /home/paul/np/os/python/textual-dev/

-e pytest-rich/
jinja2
pycodestyle
pylint
pytest
pytest-asyncio
pytest-cov
syrupy

build
twine
